<header id="mainHeader" class="mainHeader clearfix">
	<a class="menu_trigger sprited" id="menu_trigger"></a>
	<h2 class="logo sprited"></h2>
	<ul id="main_menu" class="main_menu">
		<li><a href="semblanza.html"><span class="sprited semblanza"></span> Semblanza</a></li>
		<li><a href="expos_feed.html"><span class="sprited expos"></span> Exposiciones actuales</a></li>
		<li><a href="marin_hashtag.html"><span class="sprited hashtag"></span> #JorgeMarin</a></li>
	</ul>
</header>