/*
 * Style: Jorge Marin Cordova app
 * Author: John Falcon
 * URL: johnfalcon.me
 */

@font-face {
    font-family: 'SerifaStd-Light';
    src: url('../fonts/SerifaStd-Light.eot');
    src: local('☺'), url('../fonts/SerifaStd-Light.woff') format('woff'), url('../fonts/SerifaStd-Light.ttf') format('truetype'), url('../fonts/SerifaStd-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/Futura-Medium.eot');
    src: local('☺'), url('../fonts/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium.ttf') format('truetype'), url('../fonts/Futura-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-size: 62.5%; margin: 0; padding: 0; font-family: "Futura-Medium"; }
h1 { font-size: 2.4em; } /* =24px */
/* =14px */
li { font-size: 1.4em; } /* =14px? */

/*GENERAL*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
} 
html * {
    box-sizing: border-box;
}

.rounded {
    border-radius: 50%;
}
li>a{color: inherit; text-decoration: none;}

.logo{width: 64%;height: 20px;background-position: 0px -121px;padding: 0;display: inline-block!important;vertical-align: middle;margin: 0 4%;min-width: 230px;}
.sprited{ display: block; background-repeat: no-repeat; background-image: url('../images/sprite.png');}

/** Container **/
.main{width: 100%;height: auto;;}

/** Header **/
.mainHeader{ display: block; background-color: #000; padding: 0.1px; position: relative;}
.menu_trigger{ width: 24px; height: 24px; background-position: -27px -87px; margin: 2rem 1.2rem; display: inline-block; vertical-align: middle; cursor: pointer;}

/** Main Menu **/
.main_menu{ display: block; display: none; position: absolute; bottom: -10rem; background-color: #000; color: #FFF; list-style: none; margin: 0; padding: 0 1.2rem; width: 100%;}
.main_menu li{ padding: 1rem 0; text-transform: uppercase; letter-spacing: 2px; border-top: 1px solid rgba(255, 255, 255, 0.5);}
.main_menu li>a>span{ width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin: 0 0.25rem 0 0;}
.main_menu .semblanza{ background-position: -1px -34px;}
.main_menu .expos{ background-position: -1px -60px;}
.main_menu .hashtag{ background-position: -1px -85px;}

/** Home language select **/
.full_bg{height: 100%; width: auto; display: block;}
.content{ min-height: 87vh; width: 100%; height: auto;}
.home_content{ min-height: 87vh; background-color: #000; color: #FFF;}
    .home_content .logo{ position: relative; margin: 70% auto 0 auto; display: block!important;}
    .handstand{ display: block; position: absolute; width: 32px; height: 109px; background-position: -129px -12px; left: 41.6%; top: -90px;}
.lang_select{ list-style: none; width: 118px; margin: 28% auto; padding: 0;}
.lang_select li{ display: inline-block; margin: 0; vertical-align: middle;}
.click.sprited{ background-position: 0px -11px; width: 20px; height: 23px;}
.lang_select li>a{
    letter-spacing: 3px;
    padding: 1rem 0.5rem;}


/*** Single ***/
.single_container{}
.single_container h1{}
.single_container .location{}

/*** Semblanza ***/
.semblanza_container{}
.semblanza_container h1{}
.semblanza_container .location{}
.semblanza_container .headImg{}
.semblanza_container p{}